@font-face {
    font-family: fmed;
    src: url('Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2');
}

@font-face {
    font-family: fbook;
    src: url('Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2');
}

@font-face {
    font-family: fbold;
    src: url('Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2');
}

body {
    margin: 0;
    font-family: fmed;
    color:rgb(34, 34, 34);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(0 0 0 / 16%) 0 0 6px;
}

footer {
    overflow-x: hidden;
    background-color: #f7f7f7;
}

.footer-container-1 {
    padding: 48px 24px;
    padding-bottom: 16px;
    box-sizing: border-box;
}

/* #footer-grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);

} */



.logo,
.profile,
.foot-2,
.social,
.foot-3-1440p,
.left-items-tablet,
.search,
.settings,
#tab-view,
.sub-nav2,
#showmap,
#social,
.breaker-1440,
.foot-1-large,
.foot-1-xl {
    display: none;
}

#phone-view {
    display: block;
}

header {
    height: 144px;
}

.search-min {
    display: flex;
    border: 0.5px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    height: 56px;
    margin-right: 10px;
    align-items: center;
    flex-grow: 1;
    justify-content: flex-start;
    box-sizing: border-box;

}

.search-min img {
    height: 20px;
    width: 20px;
    padding-left: 20px;
    padding-right: 16px;
    margin: 0;
}

.hint-text {
    margin-left: 2px;
}

#anywhere {
    font-size: 14px;
    line-height: 1.43;
    font-family: fmed;

}

#anyweek {
    margin: 0;
    padding: 0;
    display: flex;
    white-space: nowrap;
    color: #717171;
    font-size: 12px;
    line-height: 16px;
    font-family: fbook;

}

#dot-1 {
    margin-left: 5px;
    margin-right: 5px;
}


.sub-nav1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 14px;
    padding-right: 24px;
    padding-left: 24px;
}

.settings {

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #b0b0b0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-sizing: border-box;

}

.settings .img {
    width: 16px;
    height: 16px;
    box-sizing: border-box;
}

.settings img {
    width: 100%;
    height: 100%;
}
#section-scroll::-webkit-scrollbar{
    display: none;
}


.scroll {

    display: grid;
    grid-auto-flow: column;
    grid-template-columns: max-content, 16px;
    column-gap: 16px;
    overflow-x: scroll;
    justify-content: flex-start;
    font-size: 14px;
    line-height: 16px;
    color: rgb(0, 0, 0);
    padding: 0px 24px;

}

.scroll::-webkit-scrollbar {
    display: none;
}

.scroll img {
    height: 24px;
    width: 24px;
    opacity: 50%;
}

.items {
    padding: 12px 4px;
    margin: 0px 0px;
    margin-top: 5px;
    text-align: center;
    font-size: .75rem;
    line-height: 1rem;
    font-weight: 100;
    box-sizing: border-box;
    color: #717171;
}

.items:nth-child(1) {
    font-weight: 400;
    border-bottom: 2px solid #222222;
    color: rgb(0, 0, 0);
    
}
.items:nth-child(1) img{
    opacity: 100%;
}

.items span {
    white-space: nowrap;
}

main {
    margin-top: 158px;
    margin-left: 24px;
    margin-right: 24px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    row-gap: 40px;
    /* row-gap: 50px; */

}

#taxes {
    grid-column: span 8;
    border-radius: 12px;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    /*24px*/
    margin-bottom: -16px;
    padding: 0 16px;
    height: 64px;
    font-size: 15px;
    line-height: 19px;
    box-sizing: border-box;
    color:rgb(34, 34, 34);
}

#taxes #button {
    width: 48px;
    height: 32px;
    background-color: #b0b0b0;
    cursor: pointer;
    border: 1px solid #b0b0b0;
    border-radius: 32px;
    box-sizing: border-box;
    padding: 1px 6px;
}

#taxes #round {
    /* border : 1px solid #ffffff; */
    position: relative;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    left: -5px;
    top: 0px;
    background-color: #ffffff;
    box-sizing: border-box;
}

#taxes span {
    padding-left: 0px;
}

.home {
    grid-column: span 8;
    display: block;
    height: fit-content;
    box-sizing: border-box;
}

.home .image {
    border-radius: 10px;
    position: relative;
    margin-bottom: 12px;
}

.home .image::-webkit-scrollbar {
    display: none;
}

.home .swipe-homes {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}
.swipe-homes::-webkit-scrollbar {
    display: none;
}

.home .main-image-home {
    grid-column: span 2;
    border-radius: 12px;
    max-width: 100%;
    height: 100%;
    aspect-ratio: 20/19;
}

.like-icon-div {
    position: absolute;
    top: 15px;
    right: 16px;
    height: 24px;
    width: 24px;
}

.like-icon {
    height: 24px;
    width: 24px;
}

.progress-section {
    display: flex;
    /* justify-content: center; */

    position: absolute;
    bottom: 10px;
    left: 40%;
    align-items: center;
}

.progress-1,
.progress-2,
.progress-3,
.progress-4 {

    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #dddddd;
    margin-left: 4px;

}

.progress-1 {
    background-color: white;
}

.progress-2 {}

.progress-3 {
    width: 5px;
    height: 5px;

}

.progress-4 {
    width: 4px;
    height: 4px;
}

.subtext {
    justify-content: space-between;
    width: 100%;
}

.home .details {
    padding: 0px;
    display: grid;
    row-gap: 2px;
}

.place,
.distance,
.date,
.price {

    line-height: 19px;
    margin: 0;
}

.place,
.price {

    font-size: 15px;
    color: rgb(34, 34, 34);
    line-height: 19px;
}

.distance,
.date {
    color: rgb(113, 113, 113);
    font-family: fbook;
    font-size: 15px;
    line-height: 19px;
}

.price {
    margin-top: 6px;
    font-size: 15px;
    line-height: 19px;
}


#floating-foot {

    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
}

#map {
    background-color: rgb(34, 34, 34);
    padding: 11px 19px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    display: inline-flex;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    border-radius: 24px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    white-space: nowrap;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    position: fixed;
    bottom: 24px;
    left: calc(50% - 44px);
    z-index: 2;
    font-size: 12px;
    line-height: 16px;
}

#space-setter {
    display: flex;
    align-items: center;
    justify-content: center;
}

#map img {
    width: 16px;
    height: 16px;
    margin-left: 8px;
}

/* #quick-actions{
    width:100%;
    display: flex;
    justify-content:center;
    background-color: #ffffff;
   }
   #quick-actions img{
    width:24px;
    height:24px;
   }
   #quick-actions .items{
        text-align: center;
   }
 */
#continue {
    margin: 56px 0;
    margin-bottom: 32px;
    text-align: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#continue-text {
    color: #222;
    font-size: 18px;
}

#continue #button {
    display: flex;
    border-radius: 8px;
    border: 1px solid #222222;
    cursor: pointer;
    background-color: #222222;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    width: 132px;
    height: 48px;
    box-sizing: border-box;
}

#foot-1 {
    grid-column: span 12;
}

#scroll-2-container{
    position: relative;
}
#scroll-2 {
    display: flex;
    overflow-x: scroll;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    border-bottom: 1px solid #DDDDDD;
    box-sizing:content-box;
    margin-top: 8px;
    
}

#scroll-2::-webkit-scrollbar {
    display: none;

}

#scroll-2 li {
    padding: 10 10px;
    padding-left: 0;
    padding-right: 18px;
    padding-bottom: 0px;
    margin: 0px 8px;
    margin-left: 0;
    display: inline-block;
    width: fit-content;
    white-space: nowrap;
    color: rgb(113, 113, 113);
    font-size: .875rem;
    line-height: 1.125rem;
}

#scroll-2 li:nth-child(1) {
    border-bottom: 2px solid #222222;
    box-sizing: border-box;
    padding-right: 0;
    margin-right: 26px;
    margin-top: 16px;
    padding-bottom: 16px;
    color: rgb(0, 0, 0);
}

#scroll-2 #arrow-footer-div {

    align-items: center;
    display: flex;
    background-color: #f7f7f7;
    box-shadow: 5px 5px 2px 10px #f7f7f7;
    position: absolute;
    right: -12px;
    top:16px;
}

#scroll-2 li img {
    width: 16px;
    height: 16px;
}

.footer-container-1 h2 {
    font-size: 1.375rem;
    line-height: 1.625rem;
    font-family: fmed;
    font-weight: 100;
    color: rgb(34, 34, 34);
    margin: 0;
}

.foot-1 {
    grid-column: span 12;
    border-bottom: 1px solid #DDDDDD;
    padding-left: 24px;
    padding-right: 24px;

}

.foot-1 ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0;
    margin-bottom: 48px;
    padding: 0;
    box-sizing: border-box;
    row-gap: 24px;
    column-gap: 8px;
}

.foot-1 li {
    list-style-type: none;
    text-decoration: none;
}

.foot-1 li a {
    text-decoration: none;
    color: #222;
    margin: 0;
}

.foot-1 .main-text {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 18px;

}
.foot-1 .main-text img{
    width:12px;
    height:12px;
}

.foot-1 .sub-text {
    margin: 0;
    color: #717171;
    font-family: fbook;
    font-size: 14px;
    line-height: 18px;

}

.foot-2-small {
    padding-left: 24px;
    padding-right: 24px;
    /* display: grid;
    grid-template-columns: repeat(4,1fr); */
}

.support,
.hosting,
.airbnb {

    border-bottom: #DDDDDD 1px solid;
    padding: 24px 0;
    box-sizing: border-box;
    line-height: 1.43;
}

.foot-2-small .main-text {
    padding-bottom: 0px;
    margin-bottom: 12px;
    margin-top: 0;
    font-size: 14px;
    line-height: 18px;

}


.foot-2-small .links {
    display: block;
    text-decoration: none;
    color: #222;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;

}

.content-grid-footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 12px;
    
    font-family: fbook;
}

.foot-3 {
    padding: 24px 24px;
    margin-bottom: 1px;
}

.foot-3 .configs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 17px;
    font-size: 14px;
}

.configs a {
    color: #222;
    text-decoration: none;
}

.configs span:nth-child(2) {
    margin-left: 8px;
}

.configs span:nth-child(3) {
    margin-left: 16px;
    margin-right: 8px;
}

.copyright {
    font-family: fbook;
    font-size: .875rem;
    margin: 0px 0;
    margin-bottom: 3px;
}

.terms {
    display: flex;
    font-family: fbook;
    font-size: .875rem;
    margin: 0px 0;
    justify-content: flex-start;
    color:rgb(34, 34, 34);
}
.dot-spacer{
    margin-left:8px;
    margin-right:8px;
}

.copyright ul li:nth-child(1) {
    list-style-type: none;
}

.copyright ul {
    font-family: fbook;
    margin: 0;
    padding: 0;
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
}



/* -----------------TABLET  --------------------------------------------------*/

@media screen and (min-width:768px) {

    #phone-view,
    .foot-3-1440p,
    .settings,
    .search-min,
    #map{
        display: none;
    }
    #anyweek{
        display: block;
    }

    #arrow-footer-div{
        /* left:-100px; */
    }

    header {
        box-shadow: none;
        border-bottom: 1px solid #dddddd;
        height: 80px;
    }

    #tab-view {
        display: block;
    }

    .logo1 {
        height: 100%;
        display: flex;
        flex-shrink: 0;
        align-items: center;
        /* margin-right: 54px; */
    }
    .logo1 picture{
        margin-top:4px;
    }

    .sub-nav1 {
        display: flex;
        justify-content: space-between;
        margin-top: 0;
        align-items: center;
        height: 80px;
        padding: 0 40px;
        box-sizing: border-box;

    }

    .left-items-tablet {
        display: flex;
        flex-grow: 1;
        justify-content: flex-start;
        align-items: center;
        margin-right: 0;
        padding-right: 24px;
    }

    .search {
        display: flex;
        flex-grow: 1;
        max-width: 352px;
        box-sizing: border-box;
        border: 1px solid #dddddd;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
        border-radius: 60px;
        align-items: center;
        height: 48px;
        justify-content: center;
        margin-left:24px;

    }


    #search-round {
        margin-right: 7px;
        flex-grow: 0;
        background-color: #ff385c;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        text-align: center;

    }

    #search-round img {

        height: 12px;
        margin-top: 10px;
        width: 12px;

    }

    #search-box-text {
        display: flex;
        flex-grow: 1;
        overflow: hidden;
        margin-left: 24px;
        /* margin-right: 7px; */

    }
    #container-anywhere{
        display:flex;
        align-items: center;
        width: 60px;
        padding-right: 21px;
        /* width:100%; */
    }
    #container-anyweek{
        display:flex;
        align-items: center;
        width: 60px;
        padding-left: 15.5px;
        padding-right: 17px;

        /* width:100%; */
    }
    #container-guests{
        display:flex;
        align-items: center;
        width: 70px;
        /* width:100%; */
        padding-left: 16px;
        padding-right: 15px;
    }
    .line-spacer{
        width:1px;
        height:24px;
        background-color: #DDDDDD;
    }
    

    #anywhere,
    #anyweek,
    #guests {

        padding: 0 0px;
        font-size: 14px;
        line-height: 22px;
        font-family: fbook;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
    #guests {
        color: #717171;
        box-sizing: border-box;
    }
    #anyweek,#anywhere{
        color: #222222;
        font-family: fmed;
        font-weight: 400;
    }

    .profile {
        align-items: center;
        justify-content: space-between;
        display: flex;
        padding-left: 12px;
        white-space: nowrap;
    }

    .profile span,
    #globe {
        font-size: .875rem;
        line-height: 1.125rem;
        margin-right: 20px;
    }

    .profile span {
        margin-right: 24px;
    }

    #profile-option {
        display: flex;
        border: 1px solid #DDDDDD;
        border-radius: 21px;
        padding: 5px;
        padding-left: 12px;
        align-items: center;
        height: 42px;
        box-sizing: border-box;

    }

    #menu-icon-1 {
        width: 16px;
        height: 16px;
        margin-right: 10px;
        margin-left: 2px;
        position: relative;
        right: 2px;

    }

    #menu-icon-2 {
        width: 30px;
        height: 30px;
    }

    #section-sub-nav2 {
        position: sticky;
        top: 40px;
        z-index: 1;
        margin-top: 60px;
        /* box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 6px 0px; */

    }


    .sub-nav2 {
        padding: 0 40px;
        padding-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        background-color: #ffffff;
    }

    #section-scroll {
        display: flex;
        overflow-x: scroll;
    }
    
    .scroll {
        gap: 32px;
        padding: 0 0;
        position: relative;

    }

    /* .items{
        position: relative;
    } */
    #cover-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        height: 60px;
        width: 50px;
        position: absolute;
        background-color: #ffffff;
        top: 49px;
        right: 140px;
    }

    #arrow-header-div {

        align-items: center;
        display: flex;
        background-color: #ffffff;
        border: 0.5px solid rgb(0 0 0/0.3);
        border-radius: 50%;
        ;
        width: 26px;
        height: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #arrow-header-div img {
        width: 12px;
        height: 12px;

    }

    .filters {
        display: flex;
        border: 1px solid #dddddd;
        border-radius: 12px;
        box-sizing: border-box;
        height: 48px;
        padding: 16px 16px;
        margin-left: 10px;
        align-items: center;
        justify-content: space-between;
        font-size: .75rem;
        line-height: 1rem;
        font-family: fmed;
        color: #222;
        margin-top: 2px;
    }

    .filters img {
        width: 14px;
        height: 14px;
        margin-top: 0px;
    }

    .filters span {
        margin-left: 8px;

    }

    main {
        margin: 0 40px;
        grid-template-columns: repeat(12, 1fr);
        column-gap: 24px;
        row-gap: 40px;
    }

    #taxes {
        grid-column: span 12;
        margin-top: 19px;
        margin-bottom: -15px;
    }


    .home {
        grid-column: span 6;
    }

    #showmap {
        background-color: rgb(34, 34, 34);
        padding: 14px 19px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        display: inline-flex;
        align-items: center;
        justify-items: center;
        cursor: pointer;
        border-radius: 24px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        white-space: nowrap;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        position: fixed;
        bottom: 40px;
        left: calc(50% - 66px);
        z-index: 2;
        font-size: 14px;
        line-height: 18px;
    }

    #space-setter {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #showmap img {
        width: 16px;
        height: 16px;
        margin-left: 8px;
    }



    #scroll-2 li {
        margin-left: 0;
    }

    footer {
        padding-left: 15px;
        padding-right: 15px;
    }

    .footer-container-1 {
        padding-bottom: 10px;
        padding-left: 25px;
        padding-right: 25px;
    }

   .foot-2-small{
    padding-left: 25px;
    padding-right: 25px;
   }

    .foot-3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hosting,
    .airbnb,
    .support {
        padding-bottom: 24px;
    }


    #configs-social {
        display: flex;
    }

    #social {
        display: flex;
        justify-content: space-between;
        margin-left: 48px;
    }

    #social img {
        width: 18px;
        height: 18px;
        margin-right: 16px;
    }
    #social img:nth-child(3){
        margin-right:0;
    }

    .copyright {
        display: flex;
        justify-content: center;
        align-items: center;
    }



}


@media screen and (min-width:1024px) {

    .scroll-2 li:nth-last-child(1),
    .foot-1 {
        display: none;

    }
    /* #cover-arrow{
        display:none;
    } */
    .foot-1-large{
        display: block;
    }

    .left-items-tablet{
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        margin-right: 5px;

    }
    
    .sub-nav1{
        justify-content: space-between;
    }

    .search {
        flex-grow: 0;
        width:352px;
    }
    #search-box-text{
        display:flex;
        align-items: flex-start;
    }
    
    .line-spacer{
        width:1px;
        height:24px;
        background-color: #dddddd;
    }
    
    #search-box-text{
        align-items: center;
    }
    #anyweek,#anywhere,#guests{
        margin:0;
        padding:0;  
    }
    #container-anyweek,#container-anywhere,#container-guests{
        margin:0;
        padding:0;
        width:100%;
    }
    #container-anywhere{
        margin-right: -2px;
    }
    #container-anyweek{
        margin-left: 13px;
        margin-right:-9px;
    }
    #container-guests{
        margin-left:16px;
        margin-right: 0px;  
    }
    
    #anyweek,
    #anywhere {
        color: #222222;
        font-family: fmed;
        font-weight: 400;
    }

    /* hello */
    .filters {
        display: flex;
        border: 1px solid #dddddd;
        border-radius: 12px;
        box-sizing: border-box;
        height: 48px;
        padding: 16px 16px;
        margin-left: 10px;
        align-items: center;
        justify-content: space-between;
        font-size: .75rem;
        line-height: 1rem;
        font-family: fmed;
        color: #222;
    }

    .filters img {
        width: 14px;
        height: 14px;
        margin-top: 2px;
    }

    .filters span {
        margin-left: 8px;

    }

    .filters{
        margin-top: 2px;
    }
    .filters img{
        margin-top: 0px;
    }

    .home {
        grid-column: span 4;
    }
    .footer-container-1{
        padding-bottom: 0;

    }
    #scroll-2 li:nth-child(1){
        padding-bottom: 15px ;
        margin-top: 15px;
    }


    .foot-1-large {
        grid-column: span 12;
        border-bottom: 1px solid #DDDDDD;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 16px;
        padding-bottom:48px;

    }

    .foot-1-large ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 0;
        padding: 0;
        box-sizing: border-box;
        row-gap: 24px;
        column-gap: 8px;
        margin:0;
    }

    .foot-1-large li {
        list-style-type: none;
        text-decoration: none;

    }

    .foot-1-large li a {
        text-decoration: none;
        color: #222;
        margin: 0;
    }

    .foot-1-large .main-text {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 14px;
        line-height: 18px;

    }

    .foot-1-large .sub-text {
        margin: 0;
        color: #717171;
        font-family: fbook;
        font-size: 14px;
        line-height: 18px;

    }
    .foot-1-large .main-text img{
        width:12px;
        height:12px;
    }
    .foot-1-large p{
        white-space-collapse: preserve;
    }

    .foot-1-large .main-text{
        display: flex;
        align-items: center;
    }

    .foot-1-large ul {
        grid-template-columns: repeat(3, 1fr);
    }

    .foot-2-small {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 8px;
    }

    .support,
    .hosting,
    .airbnb {
        padding-top: 48px;
        padding-bottom: 48px;
    }



}

@media screen and (min-width:1440px) {

    .foot-3,.foot-1-large{
        display: none;
    }

    .foot-1-xl,
    .breaker-1440 {
        display: block;
    }
    #arrow-footer-div{
        z-index: -1;
    }

    .sub-nav1 {
        justify-content: space-between;
        padding: 0 80px;
    }
    .left-items-tablet{
        max-width: calc(50% + 176px);
    }
    #search-box-text{
        align-items: center;
    }

    .sub-nav2 {
        padding-left: 80px;
        padding-right: 80px;
        box-sizing: border-box;
    }

    #section-scroll {
        position: relative;
        display: flex;
        flex-direction: row;

    }

    .scroll {
        flex-grow: 0;
    }
    #section-scroll::-webkit-scrollbar{
        display:none;
    }

    #cover-arrow {
        position: absolute;
        top: 9px;
        right: -1px;


    }

    #arrow-header-div {
        width: 26px;
        height: 26px;
    }

    .filters img {
        width: 14px;
        height: 14px;
        margin-right: 3px;
    }
    .filters span{
        margin-left: 5px;
    }

    #taxes {
        grid-column: 2/4;
    }
    .scroll{
        margin-right: 30px;
    }

    main {
        padding-left: 80px;
        padding-right: 80px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 24px;
        row-gap: 40px;
        margin: 0;
    }

    main:nth-child(2) {
        grid-column: 1/3;
    }

    .home {
        grid-column: span 1;
    }
    #continue {
        margin-bottom: 48px;
        padding: 0px;
    }
    

    footer {
        padding: 0;
    }

    #scroll-2 {
        margin-top: 8px;
        line-height: 26px;
        font-size: 22px;
    }

    #arrow-footer-div {
        left: -20px;
    }

    .footer-container-1 {
        padding: 48px 80px;
        padding-bottom: 0;
        line-height: 26px;
        font-size: 22px;
    }
    .footer-container-1 h2{
        margin-bottom: 8px;
    }
    #scroll-2{
        margin-bottom: 32px;
    }

    .foot-1-xl {
        grid-column: span 12;
        border-bottom: 1px solid #DDDDDD;
        padding-top: 0px;
        padding-bottom:48px;
    }

    .foot-1-xl ul {
        display: grid;
        margin-top: 0;
        padding: 0;
        box-sizing: border-box;
        row-gap: 24px;
        column-gap: 8px;
        margin-left: 80px;
        margin-right: 80px;
        margin-bottom: 0px;
    }

    .foot-1-xl li {
        list-style-type: none;
        text-decoration: none;

    }

    .foot-1-xl li a {
        text-decoration: none;
        color: #222;
        margin: 0;
    }

    .foot-1-xl .main-text {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 14px;
        line-height: 18px;

    }

    .foot-1-xl .sub-text {
        margin: 0;
        color: #717171;
        font-family: fbook;
        font-size: 14px;
        line-height: 18px;

    }

    .foot-1-xl img {
        width: 12px;
        height: 12px;
    }

    .foot-1-xl ul {
        grid-template-columns: repeat(6, 1fr);
    }

    .foot-2-small {
        padding: 48px 80px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .foot-2-small .main-text{
        margin-bottom: 10px;
    }

    

    .foot-3-1440p {
        display: flex;
        justify-content: space-between;
        padding-bottom: 24px;
        padding-top: 24px;
        padding-left: 80px;
        padding-right: 80px;
        line-height: 1.125rem;
        font-size: .875rem;
        align-items: center;        
    }

    .copyright a {
        text-decoration: none;
        color: #222222;
        font-family: fbook;

    }
    .copyright span:nth-child(1){
        margin-right: 0;
        padding-right: 0;
    }
    .dot-spacer{
        margin-left: 7px;
        margin-right: 9px;
    }


    .configs {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-family: fbook;
        line-height: 18px;
        font-size: 14px;
        font-weight: 600;
        color:rgb(34, 34, 34);
    }

    .configs span {
        display: flex;
        align-items: center;
    }

    .configs span:nth-child(3) {
        margin-right: 10px;
    }

    .configs span img {
        width: 16px;
        height: 16px;

    }

    .configs img {
        width: 18px;
        height: 18px;
        margin-left: 16px;
    }
    

}